* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #c7c7c7;
  overflow-x: hidden;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-transform: translateY(-500px);
          transform: translateY(-500px);
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

nav .nav-items {
  background-color: #96C9FE;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 40vh;
}

nav .nav-items a {
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 8vh;
          flex: 0 8vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  padding: 10px;
}

.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

#header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 15vh;
          flex: 0 15vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
  font-size: 2rem;
  background-color: #96C9FE;
  z-index: 1;
}

#logo {
  position: relative;
  border: 4px solid #333;
  border-radius: 50%;
  padding: 1.5rem;
  line-height: 1rem;
  background-color: #c7c7c7;
  -webkit-transition: background 300ms ease;
  transition: background 300ms ease;
}

#logo:hover {
  background-color: rgba(51, 51, 51, 0.37);
  -webkit-transition: background 500ms ease;
  transition: background 500ms ease;
}

#toggle img {
  height: 2.5rem;
  display: block;
}

footer {
  height: 15vh;
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20vw;
  height: 15vh;
}

footer #info-icon :active {
  opacity: 0.4;
}

footer #info-icon img {
  width: 2.5rem;
}

footer .info-bar {
  border: 1px solid blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60vw;
  height: 15vh;
  -webkit-transform: translateX(-400px);
          transform: translateX(-400px);
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

footer .info-bar #info:nth-of-type(odd) {
  width: 15vw;
}

footer .info-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

@media (min-width: 500px) {
  nav {
    width: 40%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: auto;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    background-color: rgba(51, 51, 51, 0);
  }
  nav .nav-items {
    background-color: rgba(51, 51, 51, 0);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    -webkit-box-flex: 0;
        -ms-flex: 0 15vh;
            flex: 0 15vh;
    height: 15vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem 2rem;
  }
  nav .nav-items a:hover {
    color: rgba(241, 168, 235, 0.37);
    text-shadow: 0.5px 0.5px 0.5px white;
  }
  #toggle {
    visibility: hidden;
  }
  #header {
    position: fixed;
    z-index: -1;
  }
  #logo:hover {
    background-color: rgba(51, 51, 51, 0.37);
    -webkit-transition: background 500ms ease;
    transition: background 500ms ease;
  }
}
/*# sourceMappingURL=main.css.map */