//Colours
$primary-color: #F8FF91;
$white-color: #FDFFDE;
$secondary-color: #FF7E78;
$header-color: #7E806F;
//Debug border
$bug-border: 2px solid red;

//Texts
$header-text: "Young Serif", serif;
$header-pair: "Syne Regular", sans-serif;


// Colour Group 1
// #ABD8FF
// #668FB3
// #AEB36F
// #FFC7C4
// #F8FF91

// weird grey #7E806F (white color monochromatic.