@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amaranth&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  background-color: #FFC7C4;
}

.grid-container {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 3fr 1fr 2fr 1fr;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template: 1fr 3fr 1fr 2fr 1fr / 1fr 3fr 1fr;
      grid-template-areas: "header header header" "upper-section upper-section upper-section" "upper-section upper-section upper-section" "lower-section lower-section lower-section" "footer footer footer";
}

.page-title {
  font-family: "Amaranth", sans-serif;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  font-size: 1rem;
  color: #607D8B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: block;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4 / span 2;
  grid-column: 1 / -1;
  position: relative;
  height: 100%;
}

.nav .nav-items {
  background: #F8FF91;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform: translate3d(500px, 200px, 0);
          transform: translate3d(500px, 200px, 0);
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  border-top-left-radius: 2rem;
}

.nav .nav-items ul {
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.nav .nav-items.open {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  width: 100%;
}

.nav .nav-items a {
  font-family: "Amaranth", sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-decoration: none;
  color: #607D8B;
}

.nav .nav-items .footer-gap {
  height: 10vh;
  display: inline-block;
  width: 100%;
  background-color: #F8FF91;
}

.upper-section {
  height: 100%;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: upper-section;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.upper-section .skills-carousel {
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  height: 60vh;
}

.upper-section .skills-carousel .skills-items {
  scroll-snap-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 100%;
  width: 100vw;
}

.upper-section .skills-carousel .skills-items .skills-text {
  width: 70vw;
  text-align: center;
}

.upper-section .skill-icon {
  height: 15vh;
  fill: green;
}

.upper-section .blog-img {
  height: 35vh;
  width: 80vw;
}

.contact-items {
  height: 90%;
  width: 100%;
  padding: 20px;
  margin: 1rem;
  font-family: "Titillium Web", sans-serif;
  -webkit-box-shadow: 0 0 20px 0 rgba(241, 168, 235, 0.7);
          box-shadow: 0 0 20px 0 rgba(241, 168, 235, 0.7);
}

.contact-items .contact-form {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-items label {
  display: block;
}

.contact-items button {
  padding: 10px 20px;
  margin: 10px;
}

.contact-items textarea {
  resize: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.75rem;
}

.lower-section {
  height: 100%;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: lower-section;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  z-index: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.lower-section .lower-text {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  text-align: center;
  padding: 2rem;
  z-index: 0;
  font-family: "Titillium Web", sans-serif;
}

footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  height: 100%;
  padding-bottom: calc(0.5rem + env(safe-area-inset-bottom));
}

footer .footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20vw;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-icons :active {
  opacity: 0.4;
}

footer #toggle img {
  height: 2.5rem;
}

footer #info-icon {
  z-index: 0;
}

footer #info-icon img {
  width: 2.5rem;
}

footer .info-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60vw;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  z-index: 2;
}

footer .info-bar #info:nth-of-type(odd) {
  width: 15vw;
}

footer .info-open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

@media (min-width: 500px) {
  nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #F8FF91;
  }
  nav .nav-items {
    background-color: rgba(51, 51, 51, 0);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  nav .nav-items a {
    font-size: 1.5rem;
  }
  nav .nav-items a :hover {
    color: rgba(241, 168, 235, 0.37);
    text-shadow: 0.5px 0.5px 0.5px white;
  }
  #toggle {
    visibility: hidden;
  }
  #header {
    position: fixed;
    z-index: -1;
  }
  #logo:hover {
    background-color: rgba(51, 51, 51, 0.37);
    -webkit-transition: background 500ms ease;
    transition: background 500ms ease;
  }
  .info-bar {
    width: 45vw;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  #info-icon {
    visibility: hidden;
  }
}
/*# sourceMappingURL=main.css.map */