@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap");
@import url("https://use.typekit.net/lgh5tcm.css");
@import url("https://fonts.googleapis.com/css2?family=Amaranth&display=swap");
@font-face {
  font-family: "Hanken Book";
  src: url("../hanken-book.ttf") format("truetype");
}
@font-face {
  font-family: "Syne Regular";
  src: url("../syne-regular.ttf") format("truetype");
}
@font-face {
  font-family: "Snap It Mono";
  src: url("../Snap-itmono-1.6-Regular.woff") format("woff");
}
@font-face {
  font-family: "Young Serif";
  src: url("../YoungSerif-Regular.woff") format("woff");
}
@mixin text-base {
  color: black;
  font-family: "Syne Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  letter-spacing: 0.05vw;
}
@mixin text-second {
  color: black;
  font-family: franklin-gothic-urw-comp, sans-serif;
  font-weight: 200;
  font-size: 12vw;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
  overflow: visible;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  background-color: $white-color;
  overscroll-behavior: none;
}

header {
  position: fixed;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  z-index: 2;
  background-color: $white-color;
  box-shadow: 0px 1px 15px rgba(126, 128, 111, 0.39);
}

.info {
  font-family: "Syne Regular";
  font-size: 52px;
  text-decoration: none;
  color: black;
  transform: rotate(-90deg);
  transition: transform 0.5s ease-in;
  position: fixed;
  right: -37px;
  bottom: 42px;
  line-height: 30px;
  letter-spacing: -1px;
  z-index: 2;
  cursor: default;
}

//Blog
.blog-container {
  display: grid;
  grid-template-columns: repeat(8, 12.5vw);
  grid-template-rows: repeat(16, 12.5vh);
  grid-auto-rows: 12.5vh;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  .blog-landing {
    grid-row: 2 / 8;
    grid-column: 2 / 8;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    scroll-snap-align: center;
    .blog-landing-title {
      margin-top: 8vh;
    }
    .blog-landing-image {
      width: 100%;
      height: 30vh;
      border-radius: 10px;
      .blog-image {
        width: 100%;
        height: 30vh;
        border-radius: 10px;
      }
    }
    .down-arrow {
      bottom: 10px;
      align-self: center;
      justify-self: flex-end;
      height: 10vh;
      &:active {
        opacity: 0.4;
      }
    }
  }
  .blog-older {
    grid-row: 10 / 17;
    grid-column: 2 / 8;
    scroll-snap-align: center;
    width: 100%;
    display: flex;
    align-items: space-evenly;
    flex-direction: column;
    justify-content: center;
    padding-right: 1rem;
  }
  .blog-card-container {
    margin-bottom: 5vh;
    border-top: 1px solid black;
    height: 30vh;
    width: 100%;
    .blog-card-title {
      @include text-second;
      a {
        text-decoration: none;
        color: black;
      }
    }
    .blog-card-date {
      border-bottom: 1px solid black;
      font-size: 1rem;
    }
  }
}

//Contact
.contact {
  .contact-container {
    display: grid;
    grid-template-columns: repeat(8, 12vw);
    grid-template-rows: repeat(8, 12vh);
    font-family: $header-pair;
    .contact-form {
      grid-row: 3 / 6;
      grid-column: 2 / 8;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      .form-item {
        padding: 10px;
        margin: 5px 0px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        font-size: 1rem;
        border-radius: 5px;
        background-color: rgba(255, 127, 120, 0.301);
        box-shadow: 2px 2px 5px $secondary-color;
        input {
          background-color: rgba(51, 51, 51, 0);
          margin-left: 8px;
          margin-right: 8px;
          font-size: 1rem;
          border: none;
        }
        .message-label {
          display: block;
        }
        textarea {
          width: 65%;
          margin-left: 8px;
          background-color: rgba(51, 51, 51, 0);
          border: 1px solid black;
          font-size: 14px;
          font-family: $header-pair;
          border: none;
        }
      }
      .send-button {
        padding: 5px 20px;
        background-color: rgba(171, 216, 255, 0.616);
        border: none;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(171, 216, 255, 0.37);
        align-self: flex-end;
      }
    }
  }
  .contact-intro {
    grid-row: 2 / 3;
    grid-column: 3 / 7;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .contact-header {
      text-align: center;
      font-size: 1.5rem;
    }
  }
  .email-cue {
    margin-top: 40px;
    grid-row: 6 / 8;
    grid-column: 2 / 8;
    text-align: center;
  }
  .contact-socials {
    margin-top: 2rem;
    grid-row: 7 / 8;
    grid-column: 3 / 7;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .info-icons{
      height: 2rem;
    }    
  }
  .contact-intro {
    margin-bottom: 1rem;
  }
}

//Work
.work {
  .work-container {
    display: grid;
    grid-template-columns: repeat(8, 12.5vw);
    grid-template-rows: repeat(8, 12.5vh);
    .work-carousel {
      grid-row: 2 / 7;
      grid-column: 2 / 8;
      display: flex;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      height: 100%;
      width: 100%;
      .work-items {
        scroll-snap-align: start;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        flex-shrink: 0;
        height: 100%;
        width: 100%;
        .work-header-container {
          display: flex;
          align-items: center;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          border-top: 2px solid black;
          border-bottom: 2px solid black;
          .work-headers {
            font-family: $header-pair;
            font-size: 12vw;
            h3 {
              font-size: 8vw;
            }
          }
          img {
            width: 3rem;
          }
        }
        .work-text {
          text-align: left;
          margin-top: 1rem;
          border-top: 2px solid black;
          @include text-second;
          font-size: 1.5rem;
        }
      }
    }
    .resume-link {
      grid-row: 7 / 9;
      grid-column: 3 / 7;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .link-text {
        @include text-base;
        font-size: 1.5rem;
        margin-bottom: 10px;
        color: $secondary-color;
        text-decoration: none;
      }
      img {
        height: 5vh;
      }
    }
  }
}

//Landing/Home
.landing-body {
  background-color: $primary-color;
  .landing-header {
    background-color: $primary-color;
  }
}
.landing-container {
  display: grid;
  grid-template-columns: repeat(8, 12.5vw);
  grid-template-rows: repeat(16, calc(12.5vh - (env(safe-area-inset-bottom) / 8)));
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  .landing-intro-container {
    grid-row: 1 / 9;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(8, 12.5vw);
    grid-template-rows: repeat(8, calc(12.5vh - (env(safe-area-inset-bottom) / 8)));
    scroll-snap-align: center;
    .landing-intro {
      grid-row: 3 / 6;
      grid-column: 1 / -1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      .landing-intro-text {
        //create mixin
        color: black;
        font-family: "Syne Regular";
        font-style: normal;
        font-weight: normal;
        font-size: 13.3vw;
        line-height: 0px;
        letter-spacing: 0.05vw;
        animation: linestack 1.5s forwards;
        z-index: 1;
        @keyframes linestack {
          25% {
            line-height: 0px;
          }
          100% {
            line-height: 44px;
          }
        }
      }
      .landing-intro-fade {
        color: black;
        font-family: "Syne Regular";
        font-style: normal;
        font-weight: normal;
        font-size: 13.3vw;
        line-height: 0px;
        letter-spacing: 0.05vw;
      }
    }
    .scroll-cue {
      grid-row: 7 / 9;
      grid-column: 4 / 8;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      width: 100%;
      a {
        text-decoration: none;
        color: black;
        font-family: "Syne Regular";
        font-style: normal;
        font-weight: normal;
        font-size: 2rem;
        letter-spacing: -2px;
      }
      img {
        height: 30%;
      }
    }
    .landing-animation {
      grid-column: 2 / 9;
      grid-row: 1 / -1;
      position: relative;
      display: inline-block;
      width: 100%;
      padding-bottom: 4%;
      vertical-align: middle;
      overflow: hidden;
      .landing-svg {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        .path {
          stroke-dashoffset: 2100;
          stroke-dasharray: 2100;
          animation: dash 5s linear forwards;
        }
        @keyframes dash {
          to {
            stroke-dashoffset: 0;
          }
        }
      }
    }
  }
  .about-container {
    scroll-snap-align: center;
    grid-row: 9 / -1;
    grid-column: 1 / -1;
    display: grid;
    grid-template: repeat(10, 10vh) / repeat(8, 12.5vw);
    .portrait{ 
    display: none;
    }
    .about-title {
      grid-row: 10 / 11;
      grid-column: 8 / 9;
      right: -20px;
      bottom: -10px;
      line-height: 30px;
      letter-spacing: -1px;
      position: relative;
      font-size: 54px;
    }
    .about-table {
      grid-column: 2 / -2;
      grid-row: 2 / 10;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      .about-heading {
        text-align: center;
        margin-bottom: 1.5rem;
        h3 {
          color: $secondary-color;
        }
      }
      .about-boxes {
        padding-bottom: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 2px solid black;
        margin-bottom: 8px;
      }
      .about-interests {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
      }
      .about-answers {
        color: #7e806f;
        align-self: flex-end;
      }
      .about-labels {
        color: black;
        font-size: 18px;
        font-weight: 500;
      }
      h3 {
        @include text-base;
        font-size: 24px;
      }
      .about-write-up {
        font-size: 16px;
        color: #7e806f;
        text-align: center;
        border-bottom: none;
      }
    }
  }
}

//Titles Positioning

.blog-title {
  line-height: 36px;
  right: -33px;
  bottom: 44px;
  letter-spacing: -3px;
}
.work-title {
  line-height: 30px;
  right: -42px;
  bottom: 58px;
  letter-spacing: -5px;
}
.contact-title {
  line-height: 30px;
  right: -76px;
  bottom: 90px;
  letter-spacing: -4px;
}

//Nav
.nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  #menu {
    transform: translateZ(0) rotateX(0deg);
    transition: transform 0.175s ease-in;
    z-index: 3;
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
    height: 22px;
    &.menu-flip {
      transform: translateZ(0) rotateX(-180deg);
      transition: transform 0.35s ease-in;
      z-index: 3;
    }
  }
  .nav-items {
    z-index: 2;
    background: $secondary-color;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - (env(safe-area-inset-bottom)));
    position: absolute;
    transform: translateY(-100vh);
    transition: transform 0.3s ease-out;
    ul {
      list-style: none;
      text-align: center;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      height: calc(100vh - (env(safe-area-inset-bottom)));
    }
    &.open {
      transform: translateY(0);
      transition: transform 0.35s ease-in;
      li {
        font-size: 2rem;
        animation: menu-fade 1s forwards;
        &:nth-child(1) {
          animation-delay: 0.4s;
        }
        &:nth-child(2) {
          animation-delay: 0.5s;
        }
        &:nth-child(3) {
          animation-delay: 0.6s;
        }
        &:nth-child(4) {
          animation-delay: 0.7s;
        }
        @keyframes menu-fade {
          100% {
            opacity: 1;
          }
        }
      }
    }
    a {
      font-family: $header-pair;
      letter-spacing: 5px;
      text-transform: bodycase;
      text-decoration: none;
      color: $white-color;
      :active {
        opacity: 0.4;
      }
    }
  }
}
.work-icon {
  height: 15vh;
  fill: green;
}

.body-text {
  width: 100%;
  font-family: $header-text;
  font-family: franklin-gothic-urw-comp, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  padding: 10px;
}

footer {
  grid-row: 8 / 9;
  grid-column: 1 / -1;
  height: 100%;
  width: 44px;
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  .info-bar {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    line-height: -32px;
    .info-icons {
      margin-top: 1rem;
      :active {
        opacity: 0.4;
      }
    }
  }
}

// Screen Sizes 500px and Up

@media (min-width: 500px) {
  #menu {
    display: none;
  }
  .nav {
    .nav-items {
      background-color: rgba(51, 51, 51, 0);
      flex-direction: row;
      justify-content: space-between;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      transform: translate3d(0, -100px, 0);
      transition: transform 0.3s ease-out;
      animation: nav-drop 0.5s forwards;
      @keyframes nav-drop {
        0% {
          transform: translated3d(0, 100px, 0);
        }
        100% {
          transform: translate3d(0, 0, 0);
        }
      }
      ul {
        flex-direction: row;
        width: 50%;
        justify-content: space-between;
        font-size: 1.5rem;
        a {
          color: black;
          &:hover {
            text-shadow: 1px 0.5px 0.5px #abd7ff;
          }
        }
      }
    }
  }
  .landing-container {
    display: grid;
    grid-template-columns: repeat(8, 12.5vw);
    grid-template-rows: repeat(16, 12.5vh);
    overflow: visible;
    height: 100%;
    scroll-snap-type: y mandatory;
    .landing-intro-container {
      .landing-intro {
        .landing-intro-text {
          color: black;
          font-size: 8vw;
          @keyframes linestack {
            25% {
              line-height: 0px;
            }
            100% {
              line-height: 80px;
            }
          }
          &:hover {
            text-shadow: 1px 0.5px 0.5px #abd7ff;
          }
        }
      }
      .landing-animation {
        grid-column: 6 / 9;
        grid-row: 1 / -1;
        margin-left: 15px;
      }
    }
    .about-container {
      scroll-snap-align: center;
      grid-row: 9 / -1;
      grid-column: 1 / -1;
      display: grid;
      overflow-y: hidden;
      grid-template: repeat(10, 10vh) / repeat(8, 12.5vw);
      .portrait {
        grid-row: 2 / 8;
        grid-column: 6 / 8;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .portrait-image {
          width: 100%;
          border-radius: 50%;
          box-shadow: 1px 1px 10px $grey-color;
        }
      }
      .about-title {
        right: -5.5vw;
        bottom: 70px;
        line-height: 30px;
        letter-spacing: -1px;
        position: relative;
        font-size: 54px;
        text-decoration: none;
      }
      .about-table {
        grid-row: 2 / 6;
        grid-column: 2 / 5;
      }
    }

    

  }
  .blog-container {
    display: grid;
    overflow: visible;
    grid-template-columns: repeat(8, 12.5vw);
    grid-template-rows: repeat(8, 12.5vh);
    .blog-landing {
      grid-row: 1 / 5;
      grid-column: 1 / 5;
      display: grid;
      grid-template-columns: repeat(16, 6.25vw);
      grid-template-rows: repeat(8, 12.5vh);
      .blog-landing-image {
        grid-row: 2 / 5;
        grid-column: 3 / 8;
      }
      .blog-card-container {
        grid-column: 9 / 15;
        grid-row: 2 / 4;
        height: 100%;
        padding: 1rem;
        margin-bottom: 0;
        .blog-card-title {
          font-size: 4rem;
        }
      }
      .blog-landing-title {
        margin-top: 0;
      }
    }
    .blog-older {
      grid-row: 5 / 9;
      grid-column: 2 / 8;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
    .blog-card-container {
      padding: 2rem;
      border-top: none;
      .blog-card-title {
        font-size: 3rem;
      }
    }
  }
  .work {
    .work-container {
      display: grid;
      grid-template-columns: repeat(8, 12.5vw);
      grid-template-rows: repeat(8, 12.5vh);
      .work-carousel {
        grid-row: 2 / 7;
        grid-column: 2 / 8;
        display: flex;
        overflow-x: hidden;
        overflow-y: hidden;
        flex-shrink: 1;
        .work-items {
          flex-shrink: 1;
          margin: 1rem;
          overflow-y: hidden;
          .work-header-container {
            .work-headers {
              font-family: $header-pair;
              font-size: 36px;
              h3 {
                font-size: 5vw;
              }
            }
          }
        }
      }
    }
  }
  .contact{
    .contact-container{
      display: grid;
      grid-template-columns: repeat(8, 12.5vw);
      grid-template-rows: repeat(10, 10vh);
      .phone-contact{
        grid-row: 3 / 7;
        grid-column: 6 / 8;
        img{
          height:100%;
        }
      }
      .contact-intro {
        grid-row: 2 / 3;
        grid-column: 2 / 5;
      }
      .contact-form{
        grid-row: 3 / 6;
        grid-column: 2 / 5;
      }
      
      .email-cue{
        grid-row: 6 / 8;
        grid-column: 2 / 5;
      }
      .contact-socials{
        grid-column: 2 / 5;

      }
    }
  }
  .about-title {
    font-size: 52px;
    line-height: 52px;
  }
}
// Screen Sizes 700px and Up

@media (min-width: 700px) {
}
