@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amaranth&display=swap");
@font-face {
  font-family: "Hanken Book";
  src: url("../hanken-book.ttf") format("truetype");
}
@font-face {
  font-family: "Syne Regular";
  src: url("../syne-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Snap It Mono";
  src: url("../Snap-itmono-1.6-Regular.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  background-color: $primary-color;
}

.grid-container {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  display: grid;
  grid-template: 1fr auto 118px / 1fr 3fr 1fr;
  grid-template-areas:
    "header header header"
    "upper-section upper-section upper-section"
    "footer footer footer";
}
#menu {
  font-family: "Syne Regular", Georgia, "Times New Roman", Times, serif;
  font-size: 54px;
  text-decoration: none;
  color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  line-height: 42px;
  letter-spacing: -1px;
  padding: 0;
  border: 0;
  background: none;
  animation: flip 1s backwards;
    @keyframes flip {
      50% {
        transform: rotateX(90deg);
      }
      100% {
        transform: rotateX(0deg);
      }
    }
  &.flip-back{
    animation: none;
  }
  &.menu-flip{
    animation: flip 1s forwards;
    @keyframes flip {
      50% {
        transform: rotateX(90deg);
      }
      100% {
        transform: rotateX(0deg);
      }
    }  
  }
}
#info {
  font-family: "Syne Regular";
  font-size: 54px;
  text-decoration: none;
  color: black;
  position: absolute;
  transform: rotate(-90deg);
  transition: transform 0.5s ease-in;
  right: -38px;
  bottom: 42px;
  line-height: 30px;
  letter-spacing: -1px;
}

.landing-intro-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0px;
  top: 40vh;
  width: 100%;
  height: 250px;
  .landing-intro-text {
    color: black;
    font-family: "Syne Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 13.3vw;
    line-height: 0px;
    letter-spacing: 0.05vw;
    animation: linestack 3s forwards;
    @keyframes linestack {
      25% {
        line-height: 0px;
      }
      100% {
        line-height: 44px;
      }
    }
  }
}

.page-title {
  font-family: $header-pair;
  grid-area: header;
  font-size: 1rem;
  color: $header-color;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
}

.nav {
  display: block;
  grid-row: 1 / span 4;
  grid-column: 1 / -1;
  position: relative;
  height: 100%;
  .nav-items {
    background: $secondary-color;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate3d(0, 100vh, 0);
    transition: transform 0.5s ease-out;
    border-top-left-radius: 4rem;
    align-self: end;
    ul {
      list-style: none;
      text-align: center;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      height: 100%;
    }
    &.open {
      transform: translate3d(0, 0, 0);
      transition: transform 0.5s ease-in;
      width: 100%;
      overflow: auto;
      li {
        opacity: 0;
        animation: menu-fade 1s forwards;
        &:nth-child(4) {
          animation-delay: 0.3s;
        }
        &:nth-child(3) {
          animation-delay: 0.5s;
        }
        &:nth-child(2) {
          animation-delay: 0.65s;
        }
        &:nth-child(1) {
          animation-delay: 0.8s;
        }
        @keyframes menu-fade {
          100% {
            opacity: 1;
          }
        }
      }
    }
    a {
      font-family: $header-pair;
      letter-spacing: 5px;
      text-transform: uppercase;
      text-decoration: none;
      color: black;
      font-weight: 1000;
    }
    .footer-gap {
      height: 10vh;
      display: inline-block;
      width: 100%;
      background-color: $primary-color;
    }
  }
}

.upper-section {
  height: 100%;
  grid-area: upper-section;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .skills-carousel {
    margin-top: 10vh;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    height: 50vh;
    .skills-items {
      scroll-snap-align: start;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      flex-shrink: 0;
      height: 100%;
      width: 100vw;
      .skills-text {
        width: 70vw;
        text-align: center;
      }
    }
  }
  .skill-icon {
    height: 15vh;
    fill: green;
  }
  .blog-img {
    height: 35vh;
    width: 80vw;
  }
  .blog-text{
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    width: 100%;
  }
  .lower-text {
    width: 100%;
    text-align: center;
    padding: 2rem;
    font-family: $header-text;
  }
}
.contact-items {
  height: 90%;
  width: 100%;
  padding: 20px;
  margin: 1rem;
  font-family: $header-text;
  box-shadow: 0 0 20px 0 rgba(241, 168, 235, 0.7);
  .contact-form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  label {
    display: block;
  }
  button {
    padding: 10px 20px;
    margin: 10px;
  }
  textarea{
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    width: 100%;
  } p{
    font-family: $header-pair;
    font-size: 0.75rem;
  }
}

.lower-section {
  height: 100%;
  grid-area: upper-section;
  display: flex;
  width: 100%;
  z-index: 0;
  flex-direction: column;
  align-items: center;
  padding: 1rem;


}

footer {
  background: $primary-color;
  position: sticky;
  right: 0px;
  grid-area: footer;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 2;
  height: 100%;
  padding-bottom: calc(0.5rem + env(safe-area-inset-bottom));
}

.info-bar {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  width: 100vw;
  transform: translateX(200px);
  transition: transform 0.2s ease-out;
  padding: 1rem;
  .info-icons {
    padding-top: 10px;
    :active {
      opacity: 0.4;
    }
  }
}
.info-open {
  transform: translateX(0);
  transition: transform 0.2s ease-in;
  .info-icons {
    opacity: 0;
    animation: menu-fade 1s forwards;
    &:nth-child(1) {
      animation-delay: 0.2s;
    }
    &:nth-child(2) {
      animation-delay: 0.5s;
    }
    &:nth-child(3) {
      animation-delay: 0.7s;
    }
    @keyframes menu-fade {
      100% {
        opacity: 1;
      }
    }
  }
}

// Screen Sizes 500px and Up

@media (min-width: 500px) {
  .grid-container {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    display: grid;
    grid-template: 1fr auto 118px / 1fr 3fr 1fr;
    grid-template-areas:
      "header header header"
      "upper-section upper-section upper-section"
      "footer footer footer";
  }
  #menu {
    grid-area: header;
    top: 0;
  }
  .nav {
    justify-content: space-between;
    background-color: $primary-color;
    .nav-items {
      grid-area: header;
      transform: none;
      background-color: rgba(51, 51, 51, 0);
      flex-direction: column;
      justify-content: space-between;
      transition: transform 0.5s ease-in;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      a {
        font-size: 1.5rem;
        :hover {
          color: rgba(241, 168, 235, 0.37);
          text-shadow: 0.5px 0.5px 0.5px rgb(255, 255, 255);
        }
      }
    }
  }
}
// Screen Sizes 700px and Up

@media (min-width: 700px) {
}

// btn {
//     padding: 0.5rem 2rem;
//     border: 1px #ccc solid;
//     display: inline-block;
//     margin: 2rem 0 0;
//     border-radius: 50px;
//     text-decoration: none;
//     color: #333;
//     transition: background 300ms ease;
// }

// Delay each Nav item slide
// https://youtu.be/92J-3ajM0dI?t=953

// transform: translate3d(0, 0, 0,)
// transform: translate3d(0, 100%, 0,)

// Animate smooth scroll

// .nav-links a {
//     transform: translate3d(400px, 0, 0);
//     transition: transform 0.6s ease;
// &.open {
//     transform: translate3d(0, 0, 0);
// }
// }
// @for $i from 1 through 4 {
//     nav-links a:nth-child(#{$i}) {
//         transition-delay: $i * 0.2s;
//     }
// }
//   :nth-child(odd){
//     border: 2px solid red;
// }
// :nth-child(even){
//     border: 2px solid red;
// }
