@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amaranth&display=swap");
@font-face {
  font-family: "Hanken Book";
  src: url("../hanken-book.ttf") format("truetype");
}

@font-face {
  font-family: "Syne Regular";
  src: url("../syne-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Snap It Mono";
  src: url("../Snap-itmono-1.6-Regular.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  background-color: #F8FF91;
}

.grid-container {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto 118px;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template: 1fr auto 118px / 1fr 3fr 1fr;
      grid-template-areas: "header header header" "upper-section upper-section upper-section" "footer footer footer";
}

#menu {
  font-family: "Syne Regular", Georgia, "Times New Roman", Times, serif;
  font-size: 54px;
  text-decoration: none;
  color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  line-height: 42px;
  letter-spacing: -1px;
  padding: 0;
  border: 0;
  background: none;
  -webkit-animation: flip 1s backwards;
          animation: flip 1s backwards;
}

@-webkit-keyframes flip {
  50% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes flip {
  50% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

#menu.flip-back {
  -webkit-animation: none;
          animation: none;
}

#menu.menu-flip {
  -webkit-animation: flip 1s forwards;
          animation: flip 1s forwards;
}

@keyframes flip {
  50% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

#info {
  font-family: "Syne Regular";
  font-size: 54px;
  text-decoration: none;
  color: black;
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  right: -38px;
  bottom: 42px;
  line-height: 30px;
  letter-spacing: -1px;
}

.landing-intro-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 0px;
  top: 40vh;
  width: 100%;
  height: 250px;
}

.landing-intro-container .landing-intro-text {
  color: black;
  font-family: "Syne Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 13.3vw;
  line-height: 0px;
  letter-spacing: 0.05vw;
  -webkit-animation: linestack 3s forwards;
          animation: linestack 3s forwards;
}

@-webkit-keyframes linestack {
  25% {
    line-height: 0px;
  }
  100% {
    line-height: 44px;
  }
}

@keyframes linestack {
  25% {
    line-height: 0px;
  }
  100% {
    line-height: 44px;
  }
}

.page-title {
  font-family: "Hanken Book", sans-serif;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  font-size: 1rem;
  color: #607D8B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.nav {
  display: block;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / span 4;
  grid-column: 1 / -1;
  position: relative;
  height: 100%;
}

.nav .nav-items {
  background: #FFC7C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform: translate3d(0, 100vh, 0);
          transform: translate3d(0, 100vh, 0);
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  border-top-left-radius: 4rem;
  -ms-flex-item-align: end;
      align-self: end;
}

.nav .nav-items ul {
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.nav .nav-items.open {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  width: 100%;
  overflow: auto;
}

.nav .nav-items.open li {
  opacity: 0;
  -webkit-animation: menu-fade 1s forwards;
          animation: menu-fade 1s forwards;
}

.nav .nav-items.open li:nth-child(4) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.nav .nav-items.open li:nth-child(3) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.nav .nav-items.open li:nth-child(2) {
  -webkit-animation-delay: 0.65s;
          animation-delay: 0.65s;
}

.nav .nav-items.open li:nth-child(1) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes menu-fade {
  100% {
    opacity: 1;
  }
}

@keyframes menu-fade {
  100% {
    opacity: 1;
  }
}

.nav .nav-items a {
  font-family: "Hanken Book", sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: 1000;
}

.nav .nav-items .footer-gap {
  height: 10vh;
  display: inline-block;
  width: 100%;
  background-color: #F8FF91;
}

.upper-section {
  height: 100%;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: upper-section;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.upper-section .skills-carousel {
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  height: 50vh;
}

.upper-section .skills-carousel .skills-items {
  scroll-snap-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 100%;
  width: 100vw;
}

.upper-section .skills-carousel .skills-items .skills-text {
  width: 70vw;
  text-align: center;
}

.upper-section .skill-icon {
  height: 15vh;
  fill: green;
}

.upper-section .blog-img {
  height: 35vh;
  width: 80vw;
}

.upper-section .blog-text {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  width: 100%;
}

.upper-section .lower-text {
  width: 100%;
  text-align: center;
  padding: 2rem;
  font-family: "Titillium Web", sans-serif;
}

.contact-items {
  height: 90%;
  width: 100%;
  padding: 20px;
  margin: 1rem;
  font-family: "Titillium Web", sans-serif;
  -webkit-box-shadow: 0 0 20px 0 rgba(241, 168, 235, 0.7);
          box-shadow: 0 0 20px 0 rgba(241, 168, 235, 0.7);
}

.contact-items .contact-form {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-items label {
  display: block;
}

.contact-items button {
  padding: 10px 20px;
  margin: 10px;
}

.contact-items textarea {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  width: 100%;
}

.contact-items p {
  font-family: "Hanken Book", sans-serif;
  font-size: 0.75rem;
}

.lower-section {
  height: 100%;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: upper-section;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  z-index: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

footer {
  background: #F8FF91;
  position: -webkit-sticky;
  position: sticky;
  right: 0px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  height: 100%;
  padding-bottom: calc(0.5rem + env(safe-area-inset-bottom));
}

.info-bar {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100vw;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  padding: 1rem;
}

.info-bar .info-icons {
  padding-top: 10px;
}

.info-bar .info-icons :active {
  opacity: 0.4;
}

.info-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.info-open .info-icons {
  opacity: 0;
  -webkit-animation: menu-fade 1s forwards;
          animation: menu-fade 1s forwards;
}

.info-open .info-icons:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.info-open .info-icons:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.info-open .info-icons:nth-child(3) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

@keyframes menu-fade {
  100% {
    opacity: 1;
  }
}

@media (min-width: 500px) {
  .grid-container {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr auto 118px;
    -ms-grid-columns: 1fr 3fr 1fr;
        grid-template: 1fr auto 118px / 1fr 3fr 1fr;
        grid-template-areas: "header header header" "upper-section upper-section upper-section" "footer footer footer";
  }
  #menu {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: header;
    top: 0;
  }
  .nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #F8FF91;
  }
  .nav .nav-items {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: header;
    -webkit-transform: none;
            transform: none;
    background-color: rgba(51, 51, 51, 0);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .nav .nav-items a {
    font-size: 1.5rem;
  }
  .nav .nav-items a :hover {
    color: rgba(241, 168, 235, 0.37);
    text-shadow: 0.5px 0.5px 0.5px white;
  }
}
/*# sourceMappingURL=main.css.map */